html {
  font: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}
