:root {
  // General Colors
  --primary-text: hsla(21, 34%, 24%, 1);
  --btn-color: hsla(21, 45%, 29%, 1);

  // Navigation bar colors
  --nav-bg: hsla(15, 35%, 32%, 0.8);
  --nav-active-bg: hsla(0, 0%, 100%, 1);

  // Contact Us
  --input-box: hsla(38, 57%, 97%, 1);
  --contact-btn: hsla(36, 97%, 60%, 1);

  // Menu colors
  --menu-bg: hsla(46, 100%, 94%, 1);
  --menu-main-text: hsla(190, 17%, 14%, 1);
  --menu-secondary-text: hsla(0, 0%, 33%, 1);
}
