:root {
  --body-text: hsla(234, 30%, 18%, 1);
  --header-text: hsla(0, 0%, 0%, 1);

  // Button colors
  --btn-bg: hsla(0, 100%, 70%, 1);
  --btn-text: hsla(0, 0%, 100%, 1);

  // Section 2 background color
  --section2-bg: hsla(194, 57%, 95%, 1);
  --card-bg: hsla(0, 0%, 100%, 1);
  --view-all: hsla(191, 100%, 40%, 1);

  // Colors for featured section
  --year-bg: hsla(220, 60%, 20%, 1);
  --section-text: hsla(210, 14%, 58%, 1);
  --border-color: hsla(0, 0%, 88%, 1);
}
